@page
@model AvcolCoCurricularWebsite.Pages.ScholarshipTutorials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Activity:
            <input type="text" name="searchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ActivitySort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.ScholarshipTutorials[0].Activity)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScholarshipTutorials[0].Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScholarshipTutorials[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScholarshipTutorials[0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ScholarshipTutorials) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScholarshipTutorialID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScholarshipTutorialID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScholarshipTutorialID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.ScholarshipTutorials.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.ScholarshipTutorials.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.ScholarshipTutorials.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.ScholarshipTutorials.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>