@page
@model AvcolCoCurricularWebsite.Pages.Activities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Activity Name:
            <input type="text" name="searchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table" style="column-width:auto">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ActivityNameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Activities[0].ActivityName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activities[0].SignUpForm)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StaffSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Activities[0].Staff)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Activities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignUpForm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FullName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ActivityID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ActivityID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ActivityID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Activities.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Activities.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Activities.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Activities.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>