@page "{id:int?}"
@model AvcolCoCurricularWebsite.Pages.SubjectTutorials.DetailsModel

@{
    ViewData["Title"] = "Details | Subject Tutorial";
}

<h1>Details</h1>

<div>
    <h4>Subject Tutorial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectTutorial.Activity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectTutorial.Activity.ActivityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectTutorial.Day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectTutorial.Day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectTutorial.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectTutorial.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectTutorial.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectTutorial.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubjectTutorial.SubjectTutorialID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>