@page
@model AvcolCoCurricularWebsite.Pages.Sports.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Activity: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sport[0].Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport[0].Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport[0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SportID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SportID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SportID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>