@page
@model AvcolCoCurricularWebsite.Pages.PersonalInformation.IndexModel

@{
    ViewData["Title"] = "Index | Personal Information";
}

<h1>Index</h1>
<h4>Personal Information</h4>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Staff Last Name:
            <input type="text" name="searchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table" style="column-width:auto">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StaffSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.PersonalInformation[0].Staff)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].ECPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].ECRelationship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PersonalInformation)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ECPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ECRelationship)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.StaffID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.StaffID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.StaffID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.PersonalInformation.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PersonalInformation.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.PersonalInformation.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.PersonalInformation.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>